//meta
meta(charset='utf-8')

//page title
title pageTitle

//CSS
link(type='text/css', rel='stylesheet', media='screen', href='/css/Aristo/css/Aristo/Aristo.css')
link(type='text/css', rel='stylesheet', media='screen', href='')

//JavaScript
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')