h1#logo Panther Server Manager
div#userPanel
ul#nav
  li
    a(class="dash") Dashboard
  li
    a(class="players") Players
  li
    a(class="worlds") Worlds
  li
    a(class="plugins") Plugins
  li
    a(class="updates") Updates
  li
    a(class="users") Users
  li
    a(class="servers") Servers
  li
    a(class="settings") Settings
