.tab-icon {
    height:16px;
    width:16px;

    position:absolute;
    left:6px;
    top:9px;

    background:left top no-repeat transparent;
}

.tab-icon.dashboard { background-image:url(../img/icons/16/dashboard_grey.png); }
.ui-tabs-selected .tab-icon.dashboard, .ui-state-hover .tab-icon.dashboard  { background-image:url(../img/icons/16/dashboard.png); }

.tab-icon.console { background-image:url(../img/icons/16/console_grey.png); }
.ui-tabs-selected .tab-icon.console, .ui-state-hover .tab-icon.console  { background-image:url(../img/icons/16/console.png); }

.tab-icon.players { background-image:url(../img/icons/16/players_grey.png); }
.ui-tabs-selected .tab-icon.players, .ui-state-hover .tab-icon.players  { background-image:url(../img/icons/16/players.png); }

.tab-icon.worlds { background-image:url(../img/icons/16/worlds_grey.png); }
.ui-tabs-selected .tab-icon.worlds, .ui-state-hover .tab-icon.worlds  { background-image:url(../img/icons/16/worlds.png); }

.tab-icon.plugins { background-image:url(../img/icons/16/plugins_grey.png); }
.ui-tabs-selected .tab-icon.plugins, .ui-state-hover .tab-icon.plugins  { background-image:url(../img/icons/16/plugins.png); }

.tab-icon.updates { background-image:url(../img/icons/16/updates_grey.png); }
.ui-tabs-selected .tab-icon.updates, .ui-state-hover .tab-icon.updates  { background-image:url(../img/icons/16/updates.png); }


#nav a { background:center 10px no-repeat; }

#nav a.dash { background-image:url(../img/icons/dashboard_grey.png); }
#nav a.dash:hover,
#nav a.dash.selected { background-image:url(../img/icons/dashboard.png); }

#nav a.players { background-image:url(../img/icons/players_grey.png); }
#nav a.players:hover,
#nav a.players.selected { background-image:url(../img/icons/players.png); }

#nav a.worlds { background-image:url(../img/icons/worlds_grey.png); }
#nav a.worlds:hover,
#nav a.worlds.selected { background-image:url(../img/icons/worlds.png); }

#nav a.plugins { background-image:url(../img/icons/plugins_grey.png); }
#nav a.plugins:hover,
#nav a.plugins.selected { background-image:url(../img/icons/plugins.png); }

#nav a.updates { background-image:url(../img/icons/updates_grey.png); }
#nav a.updates:hover,
#nav a.updates.selected { background-image:url(../img/icons/updates.png); }

#nav a.users { background-image:url(../img/icons/users_grey.png); }
#nav a.users:hover,
#nav a.users.selected { background-image:url(../img/icons/users.png); }

#nav a.servers { background-image:url(../img/icons/servers_grey.png); }
#nav a.servers:hover,
#nav a.servers.selected { background-image:url(../img/icons/servers.png); }

#nav a.settings { background-image:url(../img/icons/settings_grey.png); }
#nav a.settings:hover,
#nav a.settings.selected { background-image:url(../img/icons/settings.png); }