* {
    margin:0;
    padding:0;
    font-size:1em;
    font-weight:normal;
    font-family:
}

/* Element Styles */
font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    color:#404040;
    background:center top url(http://images3.alphacoders.com/489/48957.jpg) no-repeat #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    font-weight:bold;
    text-align:center;

    margin-bottom:10px;
    
    color:#404040;
}

h1 { font-size:1.5em; }
h2 { font-size:1.4em; }
h3 { font-size:1.3em; }
h4 { font-size:1.2em; font-weight:normal; margin:5px 0; }
h5 { font-size:1.1em; font-weight:normal; margin:15px 0 5px 0; }
h6 { font-size:1em; font-weight:normal; margin:5px 0; }

b { font-weight:bold; }

/* General Classes */
.clear { clear:both; }
.floatL { float:left; }
.floatR { float:right; }

.hidden { display:none; }

.timestamp { color:grey; }
.info { color:cyan; }
.warn { color:goldenrod; }
.severe { color:orangered; }
.fatal { color:red; }

.well {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 5px;
}

.notification {
    font-size:10px;
    font-weight:bold;
    color:#FFF;

    border-radius:10px;
    padding:1px 5px;
    height:12px;
    line-height:12px;

    position:absolute;
    margin:0 0 0 -5px;
    z-index:9999;

    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #bf0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#bf0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#bf0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#bf0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#bf0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#bf0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#bf0000',GradientType=0 ); /* IE6-9 */
}

/* Wrapper */
#wrapper { width:1024px; margin:0 auto; }

/* Logo */
#logo {
    font-size:3em;
    float:left;
    margin-bottom:25px;
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;

    color:#0064CD;
}

/* Main Content */
#main {
    background:#FFF;
    padding:20px;
}

#main .ui-tabs-nav li a { padding-left:25px; }

/* Console boxes */
.chat {
    float:left;
    width:585px;
}

.chat h3 {
    font-weight:1em;
    text-align:left;

    color:#fff;

    margin:0;
    padding:1px 20px;
    text-shadow:1px 1px 1px #111;

    font-weight:normal;

    background: #049cdb; /* Old browsers */
    background: -moz-linear-gradient(top,  #049cdb 0%, #0064cd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#049cdb), color-stop(100%,#0064cd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #049cdb 0%,#0064cd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #049cdb 0%,#0064cd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #049cdb 0%,#0064cd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #049cdb 0%,#0064cd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049cdb', endColorstr='#0064cd',GradientType=0 ); /* IE6-9 */
}

#console pre, #chat pre {
    min-height:300px;
    background:#111;
    color:#fff;
    overflow:auto;
    padding:5px;
}

#console input, #chat input {
    width:100%;
    border:none;
}

/* Performance Dashboard */
#dashboard h2 { margin:0 0 10px 0; text-align:left; }
#dashboard h4 { margin:0 0 5px 0; font-weight:bold; }
#dashboard h5 { margin:0; font-size:1.1em; }
#dashboard h6 { margin:0; font-size:1em; text-align:left; }

#dashboard ul li {
    list-style:none;
    float:left;
    width:25%;
}

#dashboard li.control { text-align:center; }
#dashboard li.control .button {
    margin:2px 0;
    width:225px;
}

.meter {
    width:225px;
    margin:0 auto;
    margin-bottom:5px;
}

.meter span {
    width:225px;
    position:absolute;
    text-align:center;
    font-weight:bold;
    margin-top:5px;

    color:#222;
}

/*
.ui-progressbar span.invert {
    color:#FFF;
    text-shadow:1px 1px 1px #222;
}
*/

/*
.meter {
    width:100px;
    height:100px;
}
*/

.cprogress-text {
    /*font:18px/27px 'BebasNeueRegular', Arial, sans-serif;*/
    color:#ebebeb;
    text-shadow:1px 1px 1px #1f1f1f;
    position:absolute;
    margin-top:45px;
    margin-left:25px;
    text-align:center;
    width:60px;
}

/* Navigation Menu */
#nav {
    height:70px;
    clear:both;

    border-radius:5px 5px 0 0;

    background: #252525; /* Old browsers */
    background: -moz-linear-gradient(top,  #252525 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252525), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #252525 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #252525 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #252525 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #252525 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#nav li {
    float:left;
    list-style:none;

    border-right:solid 1px #222;
}

#nav li:last-child {
    border-right:none;
}

#nav a {
    display:block;
    height:70px;
    width:127px;

    text-align:center;
    line-height:105px;
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    /*font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;*/
    font-weight:bold;

    color:#888;
}

#nav a:hover, #nav a.selected {
    color:#046BDB;/*#0552E0;/*#008CDB;*/
    cursor:pointer;
}