extends layouts/default

block content
  div#performance.well
    div.loader
    ul.hidden
      li.info
        h2
        h6.mcversion
          b Minecraft Version:
        h6.cbversion
          b Craftbukkit Build:
      li.players
        h4 Players
        div#players
          h5 Players Connected
          div.meter
            span
      li.system
        h4 System
        div#cpu
          h5 CPU Usage
          div.meter
            span
        div#ram
          h5 RAM Usage
          div.meter
            span
      li.control
        h4 Controls
        button.ui-button-success Start Server
        button.ui-button-error Stop Server
        button.ui-button-primary Restart Server
    br.clear
  div#content
    ul
      li
        a(href="#console") Console
      li
        a(href="#chat") Chat
    div#console
      pre
      input
    div#chat
      pre
      input
  br.clear