!!! 5
html(lang="en")
  head
    block head
      //meta
      meta(charset="utf-8")

      //page title
      title= title

      //CSS
      link(type="text/css", rel="stylesheet", media="screen", href="/css/bootstrap/jquery-ui-1.8.16.custom.css")
      link(type="text/css", rel="stylesheet", media="screen", href="/css/style.css")
      link(type="text/css", rel="stylesheet", media="screen", href="/css/icons.css")

      //JavaScript
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")
      script(type="text/javascript", src="/socket.io/socket.io.js")
      script(type="text/javascript", src="/js/jquery.progress.js")
      script(type="text/javascript", src="/js/util.js")
      script(type="text/javascript", src="/js/api.js")
      script(type="text/javascript", src="/js/docready.js")
  body
    div#wrapper
      block header
        h1#logo Panther Server Manager
        div#userPanel
          ul#nav
            li
              a(class="dash") Dashboard
            li
              a(class="players") Players
            li
              a(class="worlds") Worlds
            li
              a(class="plugins") Plugins
            li
              a(class="updates") Updates
            li
              a(class="users") Users
            li
              a(class="servers") Servers
            li
              a(class="settings") Settings
      div#main
        block content
      block footer
        div#footer
          a(href='http://github.com/pantherdev/psm') Panther Server Manager